#dialog {
        dock: top;
        width: 50;
        background: $surface;
        border: thick $primary;
        padding: 1;
    }
    
#title {
    text-align: center;
    text-style: bold;
    color: $primary;
    margin-bottom: 1;
}

#status {
    height: 3;
    border: solid $primary;
    margin: 1 0;
}

#apps-table {

}

.hidden {
    display: none;
}